@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* font-family: 'Roboto', sans-serif; */


:root {
    --yellow-color: #FFCB05;
    --blue-color: #3D7DCA;
    --navy-blue-color: #003A70;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.wrapper {
    margin-top: 10px auto;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header__heading {
    margin-left: 10px;
    flex-shrink: 5;
}

.header__heading-pokemon {
    color: var(--yellow-color);
    padding: 12px;
}

.header__heading-catalog {
    color: var(--blue-color);
    padding: 12px;
}

.header__search {
    flex-shrink: 1;
    width: 80%;
    border: 0;
    border-bottom: 5px solid var(--blue-color);
    transition: border-bottom-color .3s ease-in-out;
}

.header__search:focus {
    outline: none;
}

.header__search:hover {
    border-bottom-color: var(--yellow-color);
}

.cards {
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    outline: var(--yellow-color) outset 4px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    align-items: center;
    margin:15px 30px;
    user-select: none;
}

.card__upper-infos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--navy-blue-color);
}

.card__title {
    font-size: 20px;
}

.card__number-id {
    color: var(--blue-color);
    font-size: 15px;
}

.card__image-container {
    margin: 8px 0;
    width: 170px;
    height: 220px;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__bottom-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card__bottom-infos>* {
    color: var(--navy-blue-color);
    font-weight: bold;
    margin-bottom: 4px;
}

.cards__load-more {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: 5px solid var(--yellow-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--blue-color);
    background-color: var(--yellow-color);
    transition: .3s ease-in-out
}

.cards__load-more:focus {
    outline: none;
}

.cards__load-more:hover {
    background-color: #fff;
}

.loader {
    width: 250px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loader__bubble {
    border-radius: 50%;
}

.loader__bubble:nth-of-type(1) {
    background-color: var(--yellow-color);
    width: 30px;
    height: 30px;
    animation: loading infinite .7s ease-in-out;
}

.loader__bubble:nth-of-type(2) {
    background-color: var(--blue-color);
    width: 20px;
    height: 20px;
    animation: loading infinite .7s ease-in-out;
    animation-delay: .2s;
}

.loader__bubble:nth-of-type(3) {
    background-color: var(--yellow-color);
    width: 10px;
    height: 10px;
    animation: loading infinite .7s ease-in-out;
}

.is-visible {
    display: none;
}

@media(min-width: 1200px){
    .wrapper {
        margin: 50px auto;
        width: 50vw;
    }

    .header__heading-pokemon, .header__heading-catalog {
       font-size: 45px;
       transition: color .3s ease-in-out;
    }

    .header__heading-pokemon:hover {
        color: var(--blue-color);
    }

    .header__heading-catalog:hover {
        color: var(--yellow-color)
    }
    
    .header__search {
        width: 30%;
        font-size: 30px;
    }

    .cards {
        width: 100%;
        justify-content: center;
    }

    .card {
        flex-basis: 25%;
    }

    .card:hover {
        background-color: var(--yellow-color);
    }

    .card__image-container {
        margin: 2px 0;
        width: 250px;
        height: 320px;
        transition: padding .3s ease-in-out;
        padding: 3px;
    }

    .card:hover .card__image-container {
        padding: 0px;

    }
    
    .cards__load-more{
        width: 210px;
        height: 70px;
        margin-top: 10px;
    }
}

@keyframes loading {

    100% {
        width: 60px;
        height: 60px;
    }
}